<!--start header-->
<header class="header">
	<div class="container">
		<div class="header__blocks">
			<div class="header__block">
				<div class="logo">
					<a class="logo__link" href="#" title="Перейти на главную страницу">
						<img class="logo__pic" src="https://via.placeholder.com/150x80"
						     alt="Перейти на главную страницу">
					</a>
				</div>
			</div>
			<div class="header__block header__block_wide">
				<button class="hamburger" id="js-hamburger" aria-expanded="false">
					<span class="hamburger__screen-reader-text">Меню</span>

				</button>
				<div class="menu" id="js-menu" aria-expanded="false">
					<nav>
						<ul class="menu__list">
							<li class="menu__item">
								<a class="menu__link" href="#">Продукты</a>
							</li>
							<li class="menu__item">
								<a class="menu__link" href="#">Корзина</a>
							</li>
							<li class="menu__item">
								<a class="menu__link" href="#">Доставка</a>
							</li>
							<li class="menu__item">
								<a class="menu__link" href="#">Руководство</a>
							</li>
							<li class="menu__item">
								<a class="menu__link" href="#">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="header__block header__block_mobile">
				<div class="social">
					<ul class="social__list">
						<li class="social__item">
							<a class="social__link social__link_vk" href="#">
								<svg class="social__svg">
									<use xlink:href="#vk"></use>
								</svg>
								<span class="social__label">В контакте</span>
							</a>
						</li>
						<li class="social__item">
							<a class="social__link social__link_fb" href="#">
								<svg class="social__svg">
									<use xlink:href="#facebook"></use>
								</svg>
								<span class="social__label">Facebook</span>
							</a>
						</li>
						<li class="social__item">
							<a class="social__link social__link_youtube" href="#">
								<svg class="social__svg">
									<use xlink:href="#youtube"></use>
								</svg>
								<span class="social__label">Youtube</span>
							</a>
						</li>
						<li class="social__item">
							<a class="social__link inline social__link_arrow" href="#">
								<span class="social__label">Arrow</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!--end header-->