.enter {
  position: relative;
  z-index: 3;

  &__link {
    display: block;
    padding: 5px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 56 56'%3E%3Cpath d='M25.293 39.293a.999.999 0 1 0 1.414 1.414l11.999-11.999a1.001 1.001 0 0 0 0-1.417L26.707 15.293a.999.999 0 1 0-1.414 1.414L35.586 27H5a1 1 0 1 0 0 2h30.586L25.293 39.293z'/%3E%3Cpath d='M51 0H14a1 1 0 0 0-1 1v21a1 1 0 1 0 2 0V2h35v52H15V34a1 1 0 1 0-2 0v21a1 1 0 0 0 1 1h37a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z'/%3E%3C/svg%3E");
    background-size: contain;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      padding-left: 80px;
    }

    &:hover {

      .enter__text {

        &:after {
          width: 100%;
        }
      }
    }
  }

  &__text {
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 0;
      left: 0;
      height: 2px;
      background-color: rgba(#ffffff, 0.8);
      margin: 5px auto;
      transition: width 0.3s linear;
    }
  }

}
