.header {
  position: relative;

  &__blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }

  &__block {

    &_wide {
      flex-grow: 1;
    }

    &_right {
      display: flex;
      align-items: center;
      min-width: 160px;
    }
  }

}
