.header {
    position: relative;
  z-index: 2;

    &__blocks {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__block {

        &_wide {
            flex-grow: 1;
        }

      &_right{
        display: flex;
        align-items: center;
      }
    }

}
