.hexagon {
  position: relative;
  cursor: pointer;

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__figure {
    --hexagon-size: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--hexagon-size) * 0.645);
    min-width: calc(var(--hexagon-size) * 0.645);
    height: var(--hexagon-size);
    border-radius: calc(var(--hexagon-size) / 10);
    background-color: #fff;
    transition: transform 400ms ease;
    color: #000000;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: inherit;
      height: inherit;
      background-color: #fff;
      border-radius: inherit;
      z-index: -1;
    }

    &:before {
      transform: rotate(60deg);
    }

    &:after {
      transform: rotate(-60deg);
    }
  }

  &__date {
    font-size: 25px;
    text-align: center;
    font-weight: 700;
  }

  &__active {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s , transform 0.3s;
  }

  &__prop,
  &__time {
    font-size: 25px;
    margin-bottom: 10px;
  }

  &__big-date {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__buy {
    color: #000;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 12px;
    border: 1px solid currentColor;
    border-radius: 5px;
    white-space: nowrap;
    transition: color 0.3s, background-color 0.2s;

    &:hover {
      background-color: #262C50;
      border-color: #fff;
      color: #fff;
      opacity: 1;
    }

  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    width: 165px;
    height: 165px;
    background-color: #fff;
  }
}
