.main{
  flex-grow: 1;
  overflow: hidden;

  .container{
    height: 100%;
  }


  &__right {
    position: fixed;
    right: 0;
    top: 50%;
    width: 50%;
    background-color: #fff;
    padding-left: 20%;
  }
}
