@mixin screen($media) {
     @if $media == small {
    @media only screen  and (max-width: $screen-xs) { @content; }
  }
  @else if $media == mobile {
    @media only screen and (max-width: $screen-sm - 1) { @content; }
  }
   @else if $media == tabletAndMobile {
    @media only screen and (max-width: $screen-md - 1) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $screen-sm) and (max-width: $screen-md - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: $screen-md) and (min-width: $screen-sm + 1) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $screen-lg) { @content; }
  }
}

@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}
}