// Шрифты
$background: #fff;

// Цвета
$color: #000000; // Основной цвет шрифта
$link_color: blue; // Основной цвет ссылок
$link_color_hover: #000000; // Цвет при ховере
$primary: #db163a;
//Медиа-запросы
$screen-small: 480px;
$screen-xs: 767px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1250px;
